[submodule "projects/kanban"]
	path = projects/kanban
	url = https://github.com/beardedphil/portfolio-2026-basic-kanban.git
	branch = main
[submodule "projects/project-1"]
	path = projects/project-1
	url = https://github.com/beardedphil/portfolio-2026-hal-agents.git
	branch = main
